<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    

<h:head>
<title>Crispr Ui Example</title>
</h:head>
<h:body>

	<p:layout  styleClass="ui-top" style="min-width:400px;min-height:80px; background-color: rgba(255, 0, 0, 0.1);">
 
     <p:layoutUnit position="center">
        <marquee><h3>Anonymus Anonymus Anonymus Anonymus</h3></marquee>
    </p:layoutUnit>
     
	</p:layout>
	<h:form id="form">
             
    <p:growl id="msgs" showDetail="true" />
 
 
    <p:tabView value="Experiment" >
        
   		<p:tab title="Experiment Details">
   
			   <p:dataTable id="expriment" var="exp" 
			    value="#{dtEditView.exp1}" editable="true" editMode="cell" widgetVar="cellExp" 
			    resizableColumns="true" rows="30"
			    paginator="true"
			    paginatorPosition="bottom"   
			    >
			    <p:ajax event="cellEdit" listener="#{dtEditView.onCellEdit}" update=":form:msgs" />
			    
			    <p:column headerText="Id" sortBy="#{exp.id}">
			    	<h:outputText value="#{exp.id}"/>
			    </p:column>
			    
			    <p:column headerText="Animal Name" sortBy="#{exp.animalName}">
			    	<p:cellEditor>
			    		<f:facet name="output"><h:outputText value="#{exp.animalName}" /></f:facet>
			            <f:facet name="input"><p:inputText value="#{exp.animalName}" style="width:100%" label="Animal Name"/></f:facet>
			    	</p:cellEditor>
			    	<!-- <h:outputText value="#{exp.animalName}"/> -->
			    </p:column>
			    
			    <p:column headerText="Assay Name" sortBy="#{exp.assayName}">
			    	<h:outputText value="#{exp.assayName}"/>
			    </p:column>
			    
			    <p:column headerText="Assay Id" sortBy="#{exp.assayId}">
			    	<h:outputText value="#{exp.assayId}"/>
			    </p:column>
			    
			    <p:column headerText="Experimenter" sortBy="#{exp.experimenter}">
			    	<h:outputText value="#{exp.experimenter}"/>
			    </p:column>
			    
			    
			    <p:column headerText="Experiment Date" sortBy="#{exp.experimentDate}">
			    	<p:cellEditor>
			    		<f:facet name="output">
			    			<h:outputText value="#{exp.experimentDate}">
			    			  <f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss" />
			    			</h:outputText>
			    		</f:facet>
			    		<f:facet name="input">
			    			<p:calendar value="#{exp.experimentDate}" navigator="true"/>
			    		</f:facet>
			    	</p:cellEditor>
			    	
			    </p:column>
			    
			      
			      <p:column style="width:32px" headerText="Delete">
			      	  <p:commandButton  ajax="false" icon="ui-icon-trash" 
			      	  actionListener="#{dtEditView.deleteAction(exp)}"
			      	   update="dataTable">
			      	   </p:commandButton>
			      	  <ui:debug hotkey="x" />
			      </p:column>
			    </p:dataTable>

    </p:tab>
    <p:tab title="Experiment Overview"> 

    			<h1> Experiment Overview </h1>

    </p:tab>
    <p:tab title="Experiment Result"> 
    
    			<h1> Experiment Result </h1>

    </p:tab>
    </p:tabView>
    
</h:form>

</h:body>
</html>
